.root {
  width: 100%;
}

@media (min-width: 641px) {
  .root {
    display: contents;
  }
}

@media (max-width: 640px) {
  .locked {
    display: none;
  }

  .unlocked {
    display: contents;
  }
}
